$size: 80vmin;
$arcThickness: $size/25;
$bgColor: #09f;

* {
  box-sizing:border-box;
}

html {
  background-color:$bgColor;
  height:100vh;
}

.wrapper {
  border-bottom:solid 2px #fff;
  height:$size/2;
  left:50%;
  overflow:hidden;
  position:fixed;
  top:50%;
  transform:translate(-50%,-50%);
  width:$size*1.5;
  .rainbow {
    animation:spin 4s ease-in-out infinite;
    height:$size;
    margin:0 auto;
    position:relative;
    width:$size;
    &:after {
      animation:fadeInOut 4s ease-in-out infinite;
      background-color:$bgColor;
      bottom:$size/2;
      color:#fff;
      content:"Coming soon!";
      font-family:sans-serif;
      font-size:$size/10;
      left:0;
      padding:$size/10 $size/7;
      position:absolute;
      right:0;
      text-align:center;
      text-transform:uppercase;
      top:0;
    }
    .arc {
      border:solid $arcThickness;
      border-radius:50%;
      bottom:0;
      left:0;
      position:absolute;
      right:0;
      top:0;
      &.red {
        border-color:red;
      }
      &.orange {
        border-color:orange;
        margin:$arcThickness;
      }
      &.yellow {
        border-color:yellow;
        margin:$arcThickness*2;
      }
      &.green {
        border-color:yellowgreen;
        margin:$arcThickness*3;
      }
      &.blue {
        border-color:skyblue;
        margin:$arcThickness*4;
      }
      &.violet {
        border-color:violet;
        margin:$arcThickness*5;
      }
      &.purple {
        border-color:mediumpurple;
        margin:$arcThickness*6;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform:rotate(0);
  }
  50%, 100% {
    transform:rotate(360deg);
  }
}

@keyframes fadeInOut {
  0%, 50%, 100% {
    color:$bgColor;
  }
  70%, 80% {
    color:#fff;
  }
}
